{% extends "v_layout.html.twig" %}
{% block contenu %}
	<form method="post" action="">
		<div class="row">
			<fieldset>
				<legend>Modifier un club</legend>
				
				<input name="idClub"  type="hidden" value="{{donnees.idClub}}" />
				
                <label>Nom :
                    <input name="nomClub"  type="text"  size="18" value="{{donnees.nomClub|default("")}}" />
                    {% if erreurs.nomClub is defined %}
                        <small class="error">{{erreurs.nomClub}}</small>
                    {% endif %}
                </label>

                <label>Ville :
                    <input name="villeClub"  type="text"  size="18" value="{{donnees.villeClub|default("")}}" />
                    {% if erreurs.villeClub is defined %}
                        <small class="error">{{erreurs.villeClub}}</small>
                    {% endif %}
                </label>

				<input type="submit" name="modifierClub" value="Modifier" />
			</fieldset>
		</div>
	</form>
{% endblock %}
